.row.header-message
  .span15
    %h4
      Welcome to Seattle Blend, a mix of links to locally relevant news from all around the web.
      \ The collection of links you find here are collected by search algorithms and based on social buzz,
      \ producing a blend of the most interesting news stories trending with people who care about Seattle. 
      \ People like you. Have questions or feedback?
      %a{ href: "mailto:seattleblend@king5.com" } Let us know. 
