.topbar(data-dropdown="dropdown")
  .topbar-inner
    .container
      %h3
        %a(href='/') Dimensions
      %form(onsubmit='$.address.value("search");return false;')
        %input#search(type="search" placeholder="Search" style="margin-left: 232px")
= javascript_include_rpx(user_session_url)
